h3 {
  margin-bottom: 10px;
}

li {
  padding: 2px;
  margin-bottom: 5px;
  cursor: pointer;

  &:hover,
  &.active {
    background-color: #000;

    a {
      color: #bdae58;
    }
  }
}
